@import "./base";
@import "./componenents";
@import "./utilities";

/*  BASE------------------------------------------- */

* {
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
}

.card {
  margin-bottom: 60px;
  line-height: 1.75;
  text-align: left;
}

.blockquote {
  background: $white;
  color: $grey;
  font-style: $font-italic;
  border-left: 10px solid $color-bg-headline;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-size: 1.25em;
  border-radius: $br;
}

.link {
  color: rgb(8, 205, 240);
  font-weight: 600;
  text-decoration: none;
}

/*  CSS------------------------------------------- */
